apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name:  internal-tls-{{ deployment_environment }}
  namespace: default
  annotations:
  reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
  reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "default,pxhq-htpc,cattle-system,traefik"
spec:
  secretName: internal-tls-{{ deployment_environment }}
  issuerRef:
    name: letsencrypt-{{ deployment_environment }}
    kind: ClusterIssuer
  commonName: "*.{{ cert_manager_internal_domain }}"
  dnsNames:
  - "{{ cert_manager_internal_domain}}"
  - "*.{{ cert_manager_internal_domain }}"
